*{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    min-height: 100%;
}

/****** HEADER *******/
header{
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
    padding: 25px;
    box-sizing: border-box;
}

/****** NAV *******/

nav{
    max-width: 1000px ;
    margin: 0 auto;
}

nav h1{
    font-family: 'Archivo Narrow';
    font-size: 3em;
}


h2 {
    font-size: 1.8em;
    font-weight: lighter;

    line-height: 2em;
}

/****** MAIN *******/

main{
    background-color: #75b3df;

    padding: 20px;
    box-sizing: border-box;

}

/**************************************
***************************************

            ACTIVITIES SECTION

***************************************
***************************************/

/****** UL > HOMEWORK CONTAINER *******/

.homework-container{
    max-width: 1000px;
    margin: auto;
}

.homework-container h3{
    color: #fff;
    font-size: 2em;
}

/****** UL > ACCORDION CONTAINER *******/

.acc-container{

    position: relative;

    margin: 20px 0;
    background-color: #fff;
    border-radius: 15px 15px 0px 0px;
}

.acc-title {
    color: #292929;

    font-size: 1.4em;
    font-weight: bold;

    background-color: #7dbbdf;
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(228,232,235,1) 100%);
    display: block;
    padding: 15px;

    border: 1px solid #fcfcfc;
    border-radius: 15px 15px 0px 0px;
}

.acc-title:hover{
    background-color: #9bcae6;
    cursor: pointer;
}

input {
    display: none;
}

.acc-container span::before{
    content:"+";
}

.acc-container input:checked ~ .activities {
    display: table;
    transition: 0.2s ease;
}

.acc-container input:checked ~ span::before{
    content: "-";
}

.acc-container span {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size:2em;
    font-weight: bold;
}

/****** UL > ACTIVITIES & PROJECTS *******/

.activities{
    width: 100%;
    background-color: #e9e9e9;
    border-collapse: collapse;

    display: none;

}

.activities thead tr th:first-child{    
    text-align: center;
}

.activities tr td:first-child{
    text-align: center;
    width: 40px;
}

.activities thead,tr {
    height: 35px;
}

.activities thead{
    color: #f9f9f9;
    background-color: #595959;
    border-bottom: 2px solid #333333;
}

.activities tr{
    border-bottom: 1px solid #c0c0c0;
}

.activities tr a{
    color: #b85e27;
    text-decoration: none;
}

/**************************************
***************************************

            DETAILS SECTION

***************************************
***************************************/

.info{

    width: 100%;  
    height: auto;  
    background: linear-gradient(353deg, rgba(56,128,161,1) 0%, rgba(20,138,162,1) 55%, rgba(32,157,182,1) 55%, rgba(83,173,191,1) 100%);

    color: white;    
}

.info-content{
    width: 60%;
    margin: auto;

    position: relative;

    background: url(../imgs/transparent-octocat.png) no-repeat;
    background-size: 270px 300px ;
    background-position: 50px 20px; 
}


.details{

    width: 100%;

    padding: 25px;
    box-sizing: border-box;

    text-align: center;
}

.details h3{
    font-size: 3em;
    margin-bottom: 20px;
}

.details p{
    font-size: 1.2em;
}

.details p >  a{
    
    color: #e6a960;
    font-size: 1.2em;
}

.contact{

    margin-top: 20px;

    padding: 25px;
    box-sizing: border-box;

    width: 100%;
    
    display: flex;
    flex-direction: column;


}

.contact h3{
    font-size: 3em;
    margin-bottom: 20px;

    text-align: center;
}

.contact p{
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 30px;
}

.contact ol {

    display: block;
    margin:0 auto;
    line-height: 20px;
}

.contact li{
    font-size: 1.2em;
    line-height: 2em;
}

.contact li a{
    font-size: 1.2em;
    color: #ec9e6a;
    text-decoration: none;
}

/**************************************
***************************************

            FOOTER SECTION

***************************************
***************************************/

footer{
    /* position: absolute;
    bottom: 0; */

    width: 100%;
    height: auto;
    background-color: #eaeaea;
    
    text-align: center;
}

footer p{
    line-height: 3em;
    font-size: 1.2em;
}

/**************************************
***************************************

            QUERIES SECTION

***************************************
***************************************/

@media only screen and (max-width: 1650px){
    .info-content{
        background: none;
    }
}






